{% extends 'base.html' %}

{% block title %}List Students{% endblock %}

{% block body %}
    <h1>List Students</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Physics</th>
                <th scope="col">Chemistry</th>
                <th scope="col">Maths</th>
                <th scope="col">Computer Science</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for s in student %}
            <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{ s.name}}</td>
                <td>{{ s.date_of_birth }}</td>
                <td>{{ s.physics_marks }}</td>
                <td>{{ s.chemistry_marks }}</td>
                <td>{{ s.maths_marks }}</td>
                <td>{{ s.computer_science_marks }}</td>
                <td>{{ s.percentage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
